body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #eee;
  text-align: center;
}

h1, h2 {
  color: #00ffcc;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
}
